$border-radius: 4px;
$accent: #C0392B;
$text-color: #222;
$grey-dark: #999;
$grey-light: #eee;

$sans: 'Helvetica Neue', sans-serif;
$serif: 'Playfair Display', serif;
$mono: Menlo, Monaco, monospace;

@import "dropdowns";

.note-item {
  padding-top: 10px;
  padding-bottom: 10px;

  display: table;

  min-height: 100px;
}

.item-thumbnail {
  padding-left: 0px;
}

.item-author {
  font: 1.4em;
  font-weight: bold;
}

.note-item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.note-title {
  color: #000;
  font-size: 1.5em;
  display: block;
  &, &:hover, &:active, &:link, &:visited {
    text-decoration: none;
    color: #000;
  }
}

.item-thumbnail {
  display: table-cell;
  vertical-align: top;
  float: none;
}

.upvote, .note, .collect {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
    .avatar {
      width: 35px;
      height: 35px;
    }
    .comment-heading {
      display: block;
      width: 100%;
      .user {
        font-size: 14px;
        font-weight: bold;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
      }
      .time {
        font-size: 12px;
        color: #aaa;
        margin-top: 0;
        display: inline;
      }
    }
    .comment-body {
      margin-left: 50px;
    }
  }
}

.navbar {
  margin-bottom: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.dropdown__menu {
  height: 80%;
  overflow: scroll;
  text-align: left;
}

.new-collection-div {
  position: absolute;
  bottom: 10px;
  left: 20px;
  .form-inline {
    width: 100%;
  }
}

.nice-work {
  text-align: center;
  padding: 20px;
}

.btn-upvote:hover {
  background-color: white;
}

.upvoted {
  background-color: #ddd;
}

header {
  background-color: #777;
  height: 200px;
  text-align: center;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  .container {
    position: relative;
    height: 100%;
  }
  a {
    color: white;
  }
}

.nav-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid {
  padding-top: 20px;
}

.navbar-right > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav > li>  a.navbar-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-avatar {
  height: 40px;
  &:parent {

  }
}

#at-nav-button {
  margin: 8px 19px;
}

#collectionTitle,
.notes-input textarea,
.selectize-input,
.noteForm textarea,
.noteForm > .extra-fields > .form-control:last-child {
  border: none;
  box-shadow: none;
  font-size: 1.4em;
  resize: none;
  background-color: #eee;
  margin-top: 10px;
  &:focus {
    box-shadow: none;
  }
}

.noteForm > .extra-fields > .form-control:last-child {
  font-size: 1em;
}

#newNoteForm {
  position: relative;
}

#newNoteForm > .fa-plus {
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 100px;
  top: 40px;
  left: 310px;
  color: #888;
}

#tagsForm {
  display: none;
}

#collectionTitle {
  height: 50px;
  font-size: 2em;
}

button.save,
button.new {
  margin-top: 10px;
}
button.new {
  width: 100%;
}

.selectize-control.multi .selectize-input > div.item {
  padding: 3px 10px;
  background: white;
}

.extra-fields {
  display: none;
}
#newNoteForm > .extra-fields {
  display: block;
}

.notes-input {
  text-align: center;
}
