<template name="newNote">
  {{#if Template.subscriptionsReady}}
    {{#autoForm collection="Notes" id="newNoteForm" type="method" meteormethod="submitNote"}}
      <fieldset>
        <legend>Add a Note</legend>
        {{> afQuickField name='text' rows=6}}
        {{> afQuickField name='tagIds' type="selectize" multiple=true placeholder="Add tags"}}
        {{> afQuickField name='source' placeholder="http://"}}
      </fieldset>
      <button type="submit" class="btn btn-lg btn-primary pull-right">Add</button>
    {{/autoForm}}
  {{/if}}
</template>
