<template name="noteForm">
  {{#if Template.subscriptionsReady}}
      {{#autoForm type="update" collection="Notes" id=this._id
          doc=this class="noteForm" autosave=true
          }}
          {{> afFieldInput name='text' rows=5}}
          <div class="extra-fields">
          {{> afFieldInput name='tagIds' type="selectize"
                multiple=true placeholder="Tags" value=tag}}
          {{> afFieldInput name='source' placeholder="Source link"}}
          </div>
      {{/autoForm}}
  {{/if}}
</template>
