<template name="editCollection">
  {{#if Template.subscriptionsReady}}
    {{#autoForm collection="Collections" id="newCollection"
                  type="update" doc=collection autosave=true}}
        {{> afFieldInput name='name' id="collectionTitle"}}
    {{/autoForm}}

    <div class="notes-input">
      {{#each notes}}
        {{> noteForm this}}
      {{/each}}

      <button type="submit" class="btn btn-default btn-lg new">New note</button>

      <button type="submit" class="btn btn-primary pull-right save">Save</button>
    </div>
  {{/if}}
</template>
