<template name="comment">
  <li class="comment">
    <a class="pull-left" href="{{profilePath}}">
        <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
    </a>
    <div class="comment-body">
        <div class="comment-heading">
            <h4 class="user">{{author}}</h4>
            <h5 class="time">3 minutes ago</h5>
        </div>
        <p>{{body}}</p>
        <span class="btn btn-default btn-sm btn-reply">Reply</span>

        {{#if replyToThis}}
          {{> commentSubmit}}
        {{/if}}

        {{#each replies}}
          {{> comment}}
        {{/each}}
    </div>
  </li>
</template>
