<template name="noteItem">
  <div class="row note-item">
    <div class="upvote col-sm-1">
      <span class="btn btn-default btn-upvote {{actionClass}}">⇧</span>
    </div>
    <div class="item-thumbnail col-sm-1 hidden-xs">
      <img src="https://pbs.twimg.com/profile_images/1824002576/pg-railsconf_bigger.jpg" class="img-responsive img-rounded">
    </div>
    <div class="note col-sm-9 col-xs-10">
      <div class="row">
        <span class="item-author">Paul Graham</span>
      </div>
      <div class="row">
        <a href="{{noteLink}}" class="note-title">{{text}}</a>
      </div>
      <div class="row">
        {{#each tags}}
          <a href="{{linkForTag}}" class="btn btn-default btn-sm">{{name}}</a>
        {{/each}}
      </div>
    </div>
    <div class="collect col-sm-1">
      {{> addToCollection}}
    </div>
  </div>
</template>
