<template name="addToCollection">
  {{#dropdownTrigger name=this._id}}
    <button class="collect btn btn-default">Collect</button>
  {{/dropdownTrigger}}

  {{#dropdown name=this._id classes="dropdown--menu" align="center"}}
    <ul class="dropdown__menu">
      {{#each collections}}
        <li role="menuItem"><a href="#" class="collection-label">{{name}}</a></li>
      {{/each}}
    </ul>
    <div class="row new-collection-div">
      {{#if addNew}}
        <form class="create-collection form-inline" role="form">
          <input type="text" class="form-control" id="collectionName" placeholder="Collection name">
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      {{else}}
        <a href="#" role="menuItem" class="add-new-collection">Add New</a>
      {{/if}}
    </div>
  {{/dropdown}}
</template>