<template name="noteItem">
  <div class="row note-item">
    <div class="upvote col-sm-1"> 
      <button type="button" class="btn btn-default">⇧</button>
    </div>
    <div class="note col-sm-8">
      <a href="{{noteLink}}" class="note-title">{{text}}</a>
    </div>
    <div class="collect col-sm-1"> 
      {{> addToCollection}}
    </div>
    <div class="note-info col-sm-1">
      <p>{{author}}</p>
    </div>
    <div class="note-source col-sm-1">
      <a href="{{source}}" target="_blank">Source</a>
    </div>
  </div>
</template>