<template name="modal">
  <div class="modal fade in" id="{{ this.modalName }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ this.heading }}</h4>
          <div>
            {{> UI.contentBlock }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>