<template name="newBit">
  <div class="container">
    <form class="newBit">
      <legend>New bit</legend>

      <div class="form-group">
        <label for="">Bit</label>
        <textarea class="form-control" rows="3" id="text" placeholder="Thought"></textarea>
      </div>
    
      <div class="form-group">
        <label for="">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Person">
      </div>

      <div class="form-group">
        <label for="">Source</label>
        <input type="text" class="form-control" id="source" placeholder="Source: blog post, video, tweet">
      </div>
    
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</template>