<template name="profile">
  <header>
    <div class="container">
      <div class="row">
        <h3>Profile page of {{username}}</h3>
      </div>

      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="{{linkForUpvoted}}">Upvoted</a></li>
        <li role="presentation"><a href="{{linkForSubmitted}}">Submitted</a></li>
        <li role="presentation"><a href="{{linkForCollections}}">Collections</a></li>
      </ul>
    </div>
  </header>
  <div class="container">
    {{#if Template.subscriptionsReady}}
      {{#with notes}}
        {{> notesList}}
      {{/with}}
    {{/if}}
  </div>

</template>
