<template name="profileHeader">
  {{#if Template.subscriptionsReady}}
  <header>
    <div class="container">

      <div class="user-info">
        {{> avatar userId=userId shape='circle' size='large'}}
        <h3 class="username">{{username}}</h3>
      </div>


      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="{{activeTab}}">
          <a href="{{linkForTab}}">Upvoted</a>
        </li>
        <li role="presentation" class="{{activeTab 'submitted'}}">
          <a href="{{linkForTab 'submitted'}}">Submitted</a>
        </li>
      </ul>
    </div>
  </header>
  {{/if}}
</template>
