<template name="profileHeader">
  <header>
    <div class="container">
      <div class="row">
        <h3>Profile page of {{username}}</h3>
      </div>

      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="{{activeTab}}">
          <a href="{{linkForTab}}">Upvoted</a>
        </li>
        <li role="presentation" class="{{activeTab 'submitted'}}">
          <a href="{{linkForTab 'submitted'}}">Submitted</a>
        </li>
        <li role="presentation" class="{{activeTab 'collections'}}">
          <a href="{{linkForTab 'collections'}}">Collections</a>
        </li>
      </ul>
    </div>
  </header>
</template>
